{{ $page := .Site.GetPage "section" "contact" }}

    
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row contact-widget">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    
    <ul class="fa-ul" itemscope>

      {{ if $page.Params.email }}
      <li>
        <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i>
        <span id="person-email" itemprop="email">
        <a href="mailto:{{ $page.Params.email }}">{{$page.Params.email }}</a>{{ else }}{{ $page.Params.email }}
        </span>
      </li>
      {{ end }}

      {{ with $page.Params.phone }}
      <li>
        <i class="fa-li fas fa-phone fa-2x" aria-hidden="true"></i>
        <span id="person-telephone" itemprop="telephone">
        {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $page.Params.address }}
      <li>
        <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with $page.Params.office_hours }}
      <li>
        <i class="fa-li fas fa-clock fa-2x" aria-hidden="true"></i>
        <span>{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with site.Params.appointment_url }}
      <li>
        <i class="fa-li fas fa-calendar-check fa-2x" aria-hidden="true"></i>
        <a href="{{ . }}" target="_blank" rel="noopener">{{ i18n "book_appointment" | default "Book an appointment" }}</a>
      </li>
      {{ end }}

      {{/* Contact links. */}}
      {{ range $page.Params.contact_links }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <i class="fa-li {{ $pack }} {{ $pack_prefix }}-{{ .icon }} fa-2x" aria-hidden="true"></i>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>{{.name|markdownify|emojify|safeHTML}}</a>
      </li>
      {{ end }}

    </ul>

  </div>
</div>
