<html lang="{{ .Site.LanguageCode }}" dir="ltr">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Cutive+Mono|Lora:400,700|Roboto:400,700&display=swap">
{{ partial "head.html" . }}
{{ partial "nav-bar.html" . }}
{{ partial "layouts-config.html" . }}
<div class="shah-breadcrumbs">
    <div class="container">
        {{ partial "bread-crumb.html" . }}
    </div>
</div>
<link href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/custom.css" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/bootstrap.min.css" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/fontawesome_v5.6.3_all.css">
<script src="{{ print ($.Scratch.Get "basePath") }}/js/shahidshah/custom.js"></script>
<div class="shah-profile-header" style="background: url({{ print ($.Scratch.Get "basePath") }}/shahidshah/img/banner/banner.jpg)">
    <div class="shah-proile-menu">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4"></div>
                <div class="col-12 col-lg-8">{{ partial "home-page-nav.html" . }}</div>
            </div>
        </div>
    </div>
</div>
<section id="about" class="home-section wg-about shahidshah-widget shah-profile-about">
    {{ partial "widgets/about.html" .  }}
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:10px 0 40px"> 
    <div class="container">
        {{ partial "widgets/accomplishments.html" .  }}
    </div>  
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:45px 0">
    {{ partial "widgets/tweets.html" .  }}
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:10px 0 40px">  
    <div class="container">
        {{ partial "widgets/featurette.html" .  }}
    </div>
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:50px 0 80px">
    <div class="container">
        {{ partial "widgets/past-speaking.html"  . }}
    </div>
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:10px 0 40px"> 
    <div class="container">
        {{ partial "widgets/experience.html" .  }}
    </div>
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:30px 0 40px">
    <div class="container">
        {{ partial "widgets/endorsements.html" .  }}
    </div>
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:30px 0 40px">
    <div class="container">
        {{ partial "widgets/pages.html" .  }}
    </div>
</section>
<section id="about" class="home-section wg-about shahidshah-widget" style="padding:30px 0 40px">
    <div class="container">
        {{ partial "widgets/contact.html" .  }}
    </div>  
</section>
{{ partial "footer.html" . }}
</html>
<script>
// Get the element with id="defaultOpen" and click on it
if (document.body.contains(document.getElementById('defaultOpenExp'))) {
    document.getElementById("defaultOpenExp").click();
}
// Get the element with id="defaultOpen" and click on it
if (document.body.contains(document.getElementById('defaultOpen'))) {
    document.getElementById("defaultOpen").click();
}
</script>
<!--<script src="{{ print ($.Scratch.Get "basePath") }}/js/jquery.min1.10.2.js"></script> -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
