<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}
{{ partial "nav-bar.html" . }}
{{ partial "layouts-config.html" . }}
<div class="shah-breadcrumbs">
    <div class="container">
        {{ partial "bread-crumb.html" . }}
    </div>
</div>
{{ partial "nav.html" . }}
<link href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/custom.css" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/bootstrap.min.css" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/fontawesome_v5.6.3_all.css">
<body>
    <section id="gallery" class="home-section wg-blank shahidshah-widget pt-3">
        <div class="container">
            <h1>{{  .Title }}</h1><br>
            <div class="row">
        {{ partial "gallery.html" . }}
            </div>
        </div>
     <div class="container">
            <h1>Conference</h1><br>
            <div class="row">
        {{ partial "conference.html" . }}
            </div>
        </div>
            </section>

    {{ partial "footer.html" . }}
</body>
</html>
<!--<script src="{{ print ($.Scratch.Get "basePath") }}/js/jquery.min1.10.2.js"></script> -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>