
<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/styles/salesforce-lightning-design-system.min.css"> -->
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link href="https://cdnjs.cloudflare.com" crossorigin>
<link rel="stylesheet preload" as="style"  href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.14.2/styles/salesforce-lightning-design-system.min.css" integrity="sha512-v9eTZELqSZcRlIRltjIbpM55zkTQ9azkDAjI0IByyjHLWty1U2+CSPtnNxGpC3FFkpsKwAOfciCv4PWhW/pQGw==" crossorigin="anonymous" />
<link rel="dns-prefetch" href="https://google.com">
<link href="https://google.com" crossorigin>
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link href="https://www.googletagmanager.com" crossorigin>
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link href="https://www.google-analytics.com" crossorigin>