{{ partial "layouts-config.html" . }}

<div class="header-menu w-100">
      <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "" }}"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "speaking-schedule" }}">Speaking Schedule <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "intellectual-property" }}">IP</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "blog/architecture-engineering/" }}">Blog<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "media-coverage" }}">Media Coverage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "speechabstracts" }}">Speech Abstracts</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "gallery/shahidshah/" }}">Gallery</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{  print ($.Scratch.Get "innerBasePath") "gallery/shahidshah/" }}">Shahidshah</a>
          <a class="dropdown-item" href="{{  print ($.Scratch.Get "innerBasePath") "gallery/conference/" }}">Conference</a>       
        </div>
      </li> -->
      <li class="nav-item ">
        <a class="nav-link" href="{{  print ($.Scratch.Get "innerBasePath") "bios" }}">Bios <span class="sr-only">(current)</span></a>
      </li>   
    </ul>  
  </div>
</nav>
  </div>

</div>
