{{ define "main" }}
<div class="slds-text-left slds-m-top_xx-large">
    {{ $person := .Params }}
    <!-- REQUIRED SLDS WRAPPER -->
    <div class="slds"> 
        <!-- PAGE HEADER -->
        <div class="slds-page-header" role="banner">
            <!-- LAYOUT GRID -->
            <div class="slds-grid">
                <!-- GRID COL -->
                <div class="slds-size_3-of-12">
                    <!-- HEADING AREA -->
                    <!-- MEDIA OBJECT = FIGURE + BODY -->
                    <div class="slds-media profile-info">
                        <div class="slds-media__figure">
                            <span class="slds-avatar">
                            {{ $url := $person.featured_image  }}
                            <img class="portrait" src="{{ $url | absURL }}" alt="Avatar">
                            </span>
                        </div>
                    </div>
                </div>
                <!-- GRID COL -->
                <div class="slds-col">
                    <div class="slds-media__body">
                        <h1 class="slds-text-heading--large">{{ $person.masthead }}</h1>
                        {{ with $person.role }}<h3 class="slds-text-heading--medium">{{ . | markdownify | emojify }}</h3>{{ end }}
                        <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links_space">
                            {{ range $person.organizations }}
                                <li class="slds-item">
                                    {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}{{ .name }}</a>            
                                    {{ if .url }}</a>{{ end }}
                                </li>
                            {{ end }}
                        </ul>
                        <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links_space" aria-hidden="true">
                            {{ range $person.social }}
                            {{ $pack := or .icon_pack "fas" }}
                            {{ $pack_prefix := $pack }}
                            {{ if in (slice "fab" "fas" "far" "fal") $pack }}
                            {{ $pack_prefix = "fa" }}
                            {{ end }}
                            {{ $link := .link }}
                            {{ $scheme := (urls.Parse $link).Scheme }}
                            {{ $target := "" }}
                            {{ if not $scheme }}
                            {{ $link = .link | relLangURL }}
                            {{ else if in (slice "http" "https") $scheme }}
                            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
                            {{ end }}
                            <li class="slds-item">
                                <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
                                    <svg class="slds-icon slds-input__icon  slds-icon-text-default slds-icon_x-small" aria-hidden="true">
                                    <use xlink:href="{{ .Site.BaseURL }}/icons/utility-sprite/svg/symbols.svg#chat"></use>
                                    </svg> 	 {{ .type }} 
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                        <!-- one_liner -->
                        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_info slds-m-top_medium slds-m-bottom_medium" role="status">
                            <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-info" title="info">
                                <svg class="slds-icon slds-input__icon  slds-icon-text-white slds-icon_x-small" aria-hidden="true">
                                <use xlink:href="{{ .Site.BaseURL }}/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                                </svg>
                                <span class="slds-assistive-text">info</span>
                            </span>
                            </div>
                            <div class="slds-media__body">
                            <p>{{$person.one_liner}}</p>
                            </div>
                        </div>
                       <!-- one_liner -->    
                        <div class="slds-box content">
                            {{$person.summary | markdownify}}

                            {{ if .HasShortcode "highlights" }}
                                <h3>highlights vivek </h3>
                            {{ end }}

                        </div>
    
                    </div>
                </div>
            </div>
            <!-- / MEDIA OBJECT -->
            <!-- /HEADING AREA -->
        </div>
      </div>
      <!-- / LAYOUT GRID -->

        {{.Content}}
    </div>
  
{{ end }}

