<html lang="{{ .Site.LanguageCode }}" dir="ltr">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Cutive+Mono|Lora:400,700|Roboto:400,700&display=swap">
{{ partial "head.html" . }}
{{ partial "nav-bar.html" . }}
{{ partial "layouts-config.html" . }}
<div class="shah-breadcrumbs">
    <div class="container">
        {{ partial "bread-crumb.html" . }}
    </div>
</div>
{{ partial "nav.html" . }}
<link href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/custom.css" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/bootstrap.min.css" />
<link rel="stylesheet" href="{{ print ($.Scratch.Get "basePath") }}/css/shahidshah/fontawesome_v5.6.3_all.css">
<section id="about" class="home-section wg-about shahidshah-widget pt-3">
    <div class="container">
    <h2>{{ .Title }}</h2>
    <div class="article-metadata">
        <div class="share-box" aria-hidden="true"><ul class="share">
            {{ $permaLink := .Permalink | safeURL}}      
            {{ $safeUrl := $.Site.Params.siteUrl }}       
            {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
            {{ $hrefTwitter := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
            {{ $hrefLinked := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
            {{ $hrefMail := print "mailto:?subject=Bio Abstracts for publications, interviews, and speaking engagements&body=" $safeUrl .RelPermalink }}

            <li><a href="{{ $hrefTwitter }}" target="_blank" rel="noopener" class="share-btn-twitter fb-share"><i class="fab fa-twitter"></i></a></li>
            <li><a href="{{ $href }}" target="_blank" rel="noopener" class="share-btn-facebook fb-share"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="{{ $hrefMail }}" target="_blank" rel="noopener" class="share-btn-email"><i class="fas fa-envelope"></i></a></li>
            <li><a href="{{ $hrefLinked }}" target="_blank" rel="noopener" class="share-btn-linkedin fb-share"><i class="fab fa-linkedin-in"></i></a></li></ul>
        </div>
    </div>
    {{ .Content }}
    <div class="row sh-bios-images text-left">
        <div class="col-md-12">
            <a href="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/0ShahidS7564-300x204.jpg" }}" rel="attachment wp-att-36623">
            <img class="wp-image-36623 size-medium" src="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/0ShahidS7564-300x204.jpg" }}" alt="Snapped in 2015" /></a>
            <p class="sh-bios-img-text">Print or Online (Jumbo)</p>
        </div>
        <div class="col-md-12">
            <a href="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/portrait-ibm-insight-2015-150x225.jpg" }}">
            <img class="wp-image-36621 size-thumbnail" src="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/portrait-ibm-insight-2015-150x225.jpg" }}" alt="Snapped in 2015"/></a>
            <p class="sh-bios-img-text">Print or Online (Medium)</p>
        </div>
        <div class="col-md-12">
            <a href="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/mugshot_2013_1-150x190.jpg" }} ">
            <img class="wp-image-36622 size-thumbnail" src="{{ print ($.Scratch.Get "basePath") "/shahidshah/img/bios/mugshot_2013_1-150x190.jpg" }}" alt="Snapped in 2015"/></a>
            <p class="sh-bios-img-text"> Online (Medium)</p>
        </div>
        <div class="col-md-12"></div>
    </div>
</div>
</section>
{{ partial "footer.html" . }}
</html>

<!--<script src="{{ print ($.Scratch.Get "basePath") }}/js/jquery.min1.10.2.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
