{{ partial "layouts-config.html" . }}
<!-- put bunch of photos in /static/img/albumName -->
<!-- and insert shortcode "album albumName" in blogpost.md -->
{{ $albumUrl := print "/static/shahidshah/img/gallery/"  }}

<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Cutive+Mono|Lora:400,700|Roboto:400,700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha256-ygkqlh3CYSUri3LhQxzdcm0n1EQvH2Y+U5S2idbLtxs=" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js" integrity="sha256-X5PoE3KU5l+JcX+w09p/wHl9AzK333C4hJ2I9S5mD4M=" crossorigin="anonymous"></script>
{{ range readDir $albumUrl }}
{{ $imgURL := print "/shahidshah/img/gallery"  "/" .Name | absURL }} 
<div class="col-lg-2 col-md-3 col-sm-4 col-6">
  <div class="thumbnail">
    <a class="gallery-grid-link"  data-fancybox="gallery-{{$albumUrl}}" href="{{  $imgURL }}" >
        <img class="gallery-grid-img" src="{{ $imgURL }}">
    </a>
  </div>
</div> 
{{ end }}
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>