{{- $src := .Get "src" -}}
{{- $heading := .Get "heading" -}}

<article class="slds-card slds-m-top_x-large ">
    {{if $heading}}
        <div class="slds-grid slds-wrap ">
            <div class="slds-col slds-size_12-of-12 ">
            <div class="slds-page-header__name slds-border_bottom w-100">
                <div class="slds-page-header__name-title slds-p-around_x-small">
                    <h2>
                    <span class="slds-page-header__title slds-truncate" title="Rohde Corp - 80,000 Widgets">{{$heading}}</span>
                    </h2>
                </div>
                </div>
            </div>
        </div>
    {{end}}

<ul class="slds-welcome-mat__tiles slds-grid slds-wrap slds-m-bottom_medium slds-gutters slds-m-left_none slds-m-right_none">
  {{ range (where .Site.RegularPages.ByTitle "Section" $src ) }}

  <li class=" slds-col slds-size_6-of-12 slds-m-bottom_medium">
    <div class="slds-welcome-mat__tile">    
    <a href="{{.Params.link}}" class="slds-box slds-box_link slds-media">
      
      <div class="slds-media__body">
        <div class="slds-welcome-mat__tile-body">
          <h3 class="slds-welcome-mat__tile-title">{{.Title}}</h3>
          <p class="slds-welcome-mat__tile-description slds-m-bottom_medium">{{.Params.description}}</p>

          <span class="slds-badge">Start Date:
            <em>{{ .Params.started_on  }}</em>
          </span>

          <span class="slds-badge">End Date:
            <em>{{ .Params.finished_on  }}</em>
          </span>

        </div>
      </div>
    </a>
  </div>

  </li>

  {{end}}


  </ul>

</article>

{{.Inner}}